
<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <p basicCss >
          <strong>Basic CSS Directive</strong>
        
            Basic CSS Directive is a custom Angular directive used to dynamically
            apply CSS styles to HTML elements. It helps in modifying the appearance
            and behavior of elements directly through Angular, making the UI more
            interactive and reusable.
      </p>

        <p  basicCss >

          <strong>Key Features:</strong>

  
            Dynamic CSS styling, Reusable custom directive, DOM element manipulation,
            Color and background styling, Font styling and improved UI consistency.
        </p>
      
    </div>
  </div>
</div>
