
<div class="container-fluid text-center mt-4">
  <div appCssAdvance>
    <h3>Advanced CSS Directive</h3>
    <p>
       Dynamic Styling with Renderer2 & HostListener
      Move your mouse over this card to see the effect.
    </p>
  </div>
</div>


<!--
<div class="container text-center my-5">

  <h1
    appCssAdvance
    class="advance-title">
    ✨ Advanced CSS Directive
  </h1>

  <p class="subtitle">
    Dynamic Styling with Renderer2 & HostListener
  </p>

</div>
-->


  


<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <input
        appCreditCardFormatter
                     
        type="text"
        class="form-control">
      </div>

<!--      <p basicCss >
          <strong>Basic CSS Directive</strong>
        
            Basic CSS Directive is a custom Angular directive used to dynamically
            apply CSS styles to HTML elements. It helps in modifying the appearance
            and behavior of elements directly through Angular, making the UI more
            interactive and reusable.
      </p>

        <p  basicCss >

          <strong>Key Features:</strong>

  
            Dynamic CSS styling, Reusable custom directive, DOM element manipulation,
            Color and background styling, Font styling and improved UI consistency.
        </p>  -->

        <p appCssAdvance>

        <strong>Basic CSS Directive</strong>
        
            Basic CSS Directive is a custom Angular directive used to dynamically
            apply CSS styles to HTML elements. It helps in modifying the appearance
            and behavior of elements directly through Angular, making the UI more
            interactive and reusable.
      </p>
      
    </div>
  </div>
</div>


<!-- // element refrence ::  Native Dom API-->

 <!--(keyup)="onSearch($event)"-->